.container {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 20px;
    width: 375px;
    height: 718px;
 margin:  auto;
}

.icons {
    width: 170.17px;
    height: 20px;
    margin-top: 26px;
    /* border: 1px solid green; */
}

.header h1 {
    color: orange;
}

.content {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}


  

.another-grid-container button {
    background-color: rgb(47, 45, 41);
    color: rgb(255, 255, 255);
    border: 1px;
    padding: 10px;
    width: 100px;
    height: 50px;
}
.card{
    width: 327px;
    height: 596px;
    display: flex;
        padding: 16px;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        border-radius: 16px;
            border: 1px solid var(--neutrals-n-40, #DFE1E6);
            background: var(--neutrals-n-0, #FFF);
}
.work-img{
    border-radius: 8px;
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    width: 295px;
        height: 220px;
}

.title{
    color: var(--neutrals-n-800, #172B4D);
        font-family: Poppins;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 12px;
        /* 137.5% */
       margin-right: auto;
   
}
/* .circle {
    list-style-type: none;
    /* remove the default bullets */
/* }

.circle li::before {
    content: "circle";
    /* insert a star before each list item */
    /* color: red; */
    /* make the star red */
    /* font-weight: bold; */
    /* make the star bold */
    /* margin-right: 10px; */
    /* add some space between the star and the text */
/* } */ 





.descript{
    color: var(--neutrals-n-600, #344563);
    
        /* Body / 3 */
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 160% */display: flex;

}
.btn {
    display: flex;
    padding: 12px;
    align-items: start;
    gap: 10px;
    border-radius: 8px;
    background-color: #6070FF;
    border: 1px solid var(--primary-b-400, #6070FF);
    color: var(--primary-b-500, #396DF2);

    text-align: center;
    background: none;
    Button /Normal font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    141.176% letter-spacing: 0.51px;
    display: flex;
    display: flex;
   
}

.ul {
     list-style-type: none;
     /* Remove bullets */
     margin: 0;
     /* Remove padding */
     padding: 0;
 }
 .li {
     display: inline-block;
     /* Make the list items inline */
     margin-right: 10px;
   
 }
 
/* 
.lang{
    display: inline-flex;
        padding: 4px 12px;
        align-items: center;
        border-radius: 8px;
            background: var(--primary-b-50, #EBEBFF);
            color: var(--primary-b-400, #6070FF);

            
                /* Button / Small */
                /* font-family: Poppins;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 16px; */
                /* 133.333% */
                /* letter-spacing: 0.36px;
} */ */
div {
    text-align: left;
    /* align the text to the left */
}

.lang {
    display: inline-flex;
    padding: 4px 12px;
    align-items: center;
    border-radius: 8px;
    background: var(--primary-b-50, #EBEBFF);
    color: var(--primary-b-400, #6070FF);
    /* Button / Small */
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    /* 133.333% */
    letter-spacing: 0.36px;
        
           
        }
   
